# CMake builds
/*[Bb][Uu][Ii][Ll][Dd]*
# Fleet cache
.fleet
# IDES cache
.idea
# .vscode/
~*
/lib
# vscode
/.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json
*.user

.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
# !.vscode/settings.json
CMakeLists.txt.user
